[package]
name = "vintf-check"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
quick-xml = "0.38.3"

[profile.release]
overflow-checks = false
codegen-units = 1
lto = "fat"
opt-level = 3
strip = true
